
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f6f6f6;
    color: #343434;
    margin: 0;
}


/* Navbar styling */
.navbar {
    margin-top:0;
    width: 100%;
    padding:0;
    display: flex;
    justify-content:center;
    align-items:center;
    height:4rem;
    background:#112c38;
  }

  ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }
/* allowing the navbar to be responsive */

  @media screen and (max-width: 600px) {
    ul li{
      list-style:none;
      margin:0 5px;
  }
}
  
  ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#b4b0ab;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }


  /* Footer*/

  footer{
    padding: 0;
    border: 0; outline: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: #112c38;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .cr-con{
    background-color: #112c38;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

@media screen and (max-width: 600px){
  footer {
    margin-top: 5px;
    position: relative;
  }
}
/* content  on index.html */ 
.main-content {
  display: flex;
}
.my-pic {
    background-image: url(./images/beach.jpg);
    background-position: center;
    background-size: cover;
    height: 620px;
    width: 50%;
    float: left;
}
.main-content img {
  margin-left: 7rem;
}


@media screen and (max-width: 600px) {
  .main-content {
    flex-direction: column;
  }

  .my-pic {
    width: 100%;
    height: 400px;
  }

  .my-info {
    text-align: center;
    margin: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-image: linear-gradient(to bottom right,#112c38, white);
  }
}

/*content on Portfolio */

.gallery-container {
  display:flex;
  flex-direction: row;
  width: 94%;
  height: 500px;
  margin: 2rem auto;
  
}

.gallery-item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: flex 0.8s ease;
 
  
}
.gallery-item:hover {
  flex: 5;
}

.gallery-item:nth-child(1){
  background-image: url(./images/jcflueweb.png);
}

.gallery-item:nth-child(2){
  background-image: url(./images/club\ website.png);
}
.gallery-item:nth-child(3){
  background-image: url(./images/kava.png);
}
.gallery-item:nth-child(4){
  background-image: url(./images/coding.jpg);
}
.gallery-item:nth-child(5){
  background-image: url(./images/jcflueweb.png);
}


@media screen and (max-width: 600px) {

  .gallery-container {
    flex-direction: column;
  width: 100%;
  height: 500px;
  margin-top: 3rem;
  }

  footer {
    position: fixed;
    margin-bottom: 0;
  }
}

/* ABOUT ME */

.aboutme-footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.container {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-margin: 4rem;
}

.screen {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: end;
  color: black;
  scroll-snap-align: end;


}

.screen h1 {
  font-size: 20px;
  font-weight: 400;
  max-width: 650px;
  margin-right: 8rem;
}

.screen img {
  width: 300px;
  height: auto;
  padding: 10rem;
  filter: drop-shadow(0 0 0.75rem gray);
}

.screen2 {
  background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(0,212,255,1) 100%);
  color: white;
}

/* contact form*/
.contactUs {
  margin-left: 2rem;
  margin-top: 4rem;

}
#contactForm {
  max-width: 500px; /* set the max-width you prefer */
  margin: 0 auto;
  float: left;
  margin-left: 2rem;
} 

.label {
  width: 100%;
}

input:not([type="checkbox"]),
#contactForm textarea {
  width: 100%;
}

#contactForm label {
  display: block;
}

.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style for social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #0A66C2;
  color: white;
}